<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522049972574-mgt0ulmo0b3uc7h1nqq1cvqglr4bc2l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522049972574-mgt0ulmo0b3uc7h1nqq1cvqglr4bc2l0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>522049972574-klr4b6lg370clval7megk8m4pv8u82fp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5tibMjh8cWx5cNNAiJQ82lNsjJkOGMCM</string>
	<key>GCM_SENDER_ID</key>
	<string>522049972574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.ceres.app</string>
	<key>PROJECT_ID</key>
	<string>lovecrypto-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>lovecrypto-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522049972574:ios:90a7105a3e44392ef0c7cf</string>
	<key>DATABASE_URL</key>
	<string>https://lovecrypto-prod.firebaseio.com</string>
</dict>
</plist>