@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: #7c3aed;
  }
}

.pulsatingDot {
  animation: pulseDot 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  background-color: currentColor;
  border-radius: 50%;
  box-sizing: border-box;
  height: 15px;
  width: 15px;
}

.pulsatingDot:before {
  animation: pulseRing 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  background-color: currentColor;
  border-radius: 45px;
  content: '';
  display: block;
  height: 300%;
  left: -100%;
  position: relative;
  top: -100%;
  width: 300%;
}

@keyframes pulseRing {
  0% {
    transform: scale(0.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulseDot {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.input {
  @apply appearance-none block px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm bg-white dark:bg-gray-600;
}

.primary-button {
  @apply px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-gradient-to-r from-purple-600 to-indigo-600 hover:from-purple-700 hover:to-indigo-700 transition;
}

.secondary-button {
  @apply px-4 py-2 text-base font-medium text-gradient bg-gradient-to-r from-purple-600 to-indigo-600 hover:from-purple-700 hover:to-indigo-700 outline-none focus:outline-none transition;
}

.OuterCircularProgressbar .CircularProgressbar-path {
  stroke: url(#outer);
}

.InnerCircularProgressbar .CircularProgressbar-path {
  stroke: url(#inner);
}
